/*
body{
	margin-top: 20px;
	margin-bottom: 20px;
}

#pictures{
	margin-top: 20px;
}

#pictures img{
	max-height: 200px;
}

.picture #image{
	
	height: 150px;
	margin-bottom: 100px;
}

.picture {
	margin-bottom: 100px;
}

*/

body{
	margin-top: 20px;
	margin-bottom: 20px;
}

#pictures{
	margin-bottom: 20px;
}

#pictures img{
	/*max-height: 200px;*/
}


.picture {
	margin-bottom: 30px;
}

.picture #image{
	
	/*
	height: 150px;
	*/
}

.image{
	height: 200px;
	width: 220px;
	background-repeat: no-repeat;
}



/* Admin Style Section */
#admin-header{
	margin-bottom: 20px;
}
#admin-header #main-logo{
	width: 175px;
}
#admin-header #admin-menu{
	padding-top: 75px;
}
