
html{
font-family:Verdana, Arial, Helvetica, sans-serif;
}

body{
	margin-top: 10px;
	color:#666666;
}

h1, h2, h3, h4, h5, h6{
	color: #87002f;
	margin-bottom: 10px;
}

a{
	color: #cc0000;
}

/* Header Titles */
#f5stormrooms-header{
	color: black;
}
/* End Header Titles */

/*Header Image*/
#header-image{
	float: right;
}
/* End Header Image */

/* Navigation Section on pages other than homepage */

#alt-nav{
	position: relative;
	font-size: 100%;/*1.2em;*/
	background:#b2031f;
	font-weight: bold;
	height: 36px;
}
#alt-nav *{
	color: white;
}
#alt-nav a{
	text-decoration: none;
	display: block;
}
#alt-nav ul, #alt-nav ul li, #alt-nav ul li ul li{
	list-style-type: none;
	margin:0;
	padding: 0;
}

#alt-nav ul li ul:first-child{
	float: left;
}
#alt-nav ul li ul:first-child li:first-child{
	padding-top: 8px;
	padding-bottom: 8px;
}

#alt-nav ul li ul li{
	padding-right: 10px;
	padding-left: 10px;
}

#alt-nav ul li ul{
 width: 4em;
}

#alt-nav #prod-info-link ul:first-child{
	width: 12.5%;
}
#alt-nav #prod-info-link .dropdown{
	width: 130%;
}
#alt-nav #using-prod-link ul:first-child{
	width: 18%;
}
#alt-nav #using-prod-link .dropdown{
	width: 91%;
}


#alt-nav .dropdown{
	position: relative;
	left: -10000px;
}
#alt-nav .dropdown, ul li ul:hover{
	background: #b2031f;
}

#alt-nav .dropdown{
	padding-top: 3px;
	padding-bottom: 3px;
}
#alt-nav ul li ul li:hover{
	background: #7d001d;
}

#alt-nav .menu:hover li{
	left: 0;
}

#alt-nav .active{
	background: #7d001d;
}

/* Product Information Page */
#container #product-info-page{

}

#container #product-info-page p {
	width: 400px; 
	text-align: justify;
}

#container #info-section {
	margin-bottom: 10px;
	margin-top: 10px;
}

#container #main {
	padding: 10px;
	padding-right: 0;
	padding-left: 0;
}

#tornado-image{
 width: 160px;
}

/* Using Product Page */
#container .using_product_image{
	width: 160px;
	margin-right: 20px;

}
/* End Using Product Page */
#faq-links{
	margin-bottom: 20px;
}
#faq-links p{
	margin-bottom: 0px;
}
/* FAQs page */

/* End FAQs */

/* Map Page */
#map{
	float: left;
	width: 500px;
	height: 400px;
}
#maplinks{
	float: left;
}
#maplinks ul{
	list-style-type: none;
}
/* End Map Page */
/* Footer Style */
#footer{
	margin-bottom: 30px;
}

#footer #footer-content {
border-top:1px solid #000;
padding-top:15px;
}

#footer #footer-content p {
	margin-bottom: 0px;
}

#footer #footer-content #login {
	text-align: right;
}
/* End Footer Style */

/* Classes */
/*
.shadow {
  -moz-box-shadow:    -1px -2px 3px 2px #ccc;
  -webkit-box-shadow: -1px -2px 3px 2px #ccc;
  box-shadow:         -1px -2px 3px 2px #ccc;
}
*/

.justify{
	text-align: justify;
}

.image-padding-left{
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	float: right;
}

/* End Classes */


