body{
	margin-top: 20px;
	margin-bottom: 20px;
}

#pictures{
	margin-bottom: 20px;
}

#pictures img{
	max-height: 160px;
}


.picture {
	margin-bottom: 30px;
}

.picture #image{
	
	height: 150px;
}

.image{
	height: 200px;
	width: 220px;
	background-repeat: no-repeat;
}
