#container {
margin-top:10px;
}

a:link, a:visited{
	color:#c00;
}

a:hover, a:active{
	color:#c00;
}

#header {
margin-bottom:20px;
}

#header #dupont-home {
font-size:92%;
text-align:right;
}

#header p {
margin-bottom:0;
}

#header #header-img {
height:330px;
background-image:url("../images/header2-820.jpg");
background-repeat: no-repeat;
background-size:820px;
}

/*Navigation Bar */
#navigation{
	position: relative;
	top: 283px;
	font-size: 120%;/*1.2em;*/
}
#navigation *{
	color: white;
}
#navigation a{
	text-decoration: none;
	display: block;
}
#navigation ul, ul li,ul li ul li{
	list-style-type: none;
	margin:0;
	padding: 0;
}
#navigation ul li ul:first-child{
	float: left;
}
#navigation ul li ul:first-child li:first-child{
	border-right: 1px solid white;
	padding-top: 9px; 
	padding-bottom: 9px; 
}

#navigation ul li ul li{
	padding-right: 10px;
	padding-left: 10px;
}

#navigation ul li ul{
 width: 4em;
}


#navigation #prod-info-link ul:first-child{
	width: 14%;
}
#navigation #prod-info-link .dropdown{
	width: 142%;
}
#navigation #using-prod-link ul:first-child{
	width: 19%;
}
#navigation #using-prod-link .dropdown{
	width: 95%;
}

#navigation #galleries-link ul{
	width: 9%;
}


#navigation #build-locations-link ul {
	width: 16%;
}

#navigation .dropdown{
	position: relative;
	left: -10000px;
	display: none;
}
#navigation .dropdown{
	background: #87002f;
}
#navigation ul li ul li:hover{
	background: #c52f48;
}

#navigation .menu:hover li{
	left: 0;
	display: block;
	top: -5px;
}
/* End navigation bar */

#header #logo-link {
top:80px;
left:10px;
position:relative;
}

/*
#header #logo-link #main-logo {
width:250px;
}
*/

#contact-form h5 {
color: #c00;
font-weight:400;
margin-bottom:15px;
}

#contact-form p {
font-family:Verdana, Arial, Helvetica, sans-serif;
color:#666;
font-size:93%;
margin-bottom:0;
}

#contact-form #honeypot {
display:none;
position:absolute;
left:-999em;
}

#info #provenbyscienceIE{
	padding-top: 50px;
	padding-bottom:20px;
}

#info img {
height:90px;
width:120px;
border:1px solid #000;
margin-top:12px;
margin-bottom:55px;
}

#info h5 {
margin-bottom:0;
color:#c00;
font-weight:400;
width:64%;
}

#info p {
font-family:Verdana, Arial, Helvetica, sans-serif;
color:#666;
font-size:93%;
text-align:justify;
width:64%;
}

.news-link {
background-color:#87002f;
color:#FFF;
margin-bottom: 10px;
}

.news-link .news-link-content {
padding:10px 20px;
}

.news-link .news-link-content h5 {
margin-bottom:10px;
line-height:20px;
font-weight:400;
}

.news-link .news-link-content p {
text-align:left;
margin-bottom: 0;
}

.news-link .news-link-content a {
font-size:110%;
color:#FFF;
text-decoration:none;
display: block;
}

.news-link .news-link-content a:hover,a:active {
text-decoration:underline;
}

.news-link .news-link-box:hover{
background: #C52F48;

}

#pre-footer {
margin-top:20px;
margin-bottom:15px;
}

#pre-footer h3 {
color:#c00;
margin-bottom:10px;
}

#pre-footer #logo {
text-align:right;
}

#footer{
	margin-bottom: 30px;
}

#footer #footer-content {
border-top:1px solid #000;
padding-top:15px;
}

#footer #footer-content p {
	margin-bottom: 0px;
}

#footer #footer-content #login {
	text-align: right;
}

#header #dupont-home a:link,a:visited,a:hover,a:active,#contact-form .errors p,#dupont-link a,#pre-footer #contact-info a,.errors {
color:#c00;
}

#contact-form .success,.success {
color:green;
}

#pre-footer #contact-info,#footer p {
color:gray;
}

#contact-info{
	color: gray;
	padding-bottom: 20px;
}

#contact-info h5{
	color: #c00;
	padding-bottom: 0;
}

#contact-info span{
	color: black;
	font-size: 120%;
}

/* Admin Style Section */
#admin-header{
	margin-bottom: 20px;
}
#admin-header #main-logo{
	width: 175px;
}
#admin-header #admin-menu{
	padding-top: 75px;
}

#admin-header a{
	text-decoration: none;
}


/*

#container{
	margin-top: 10px;
}

#header{
	margin-bottom: 30px;
}

#header #dupont-home{
	font-size: 92%;
	text-align: right;
}

#header #dupont-home a:link, a:visited, a:hover, a:active{
	color: #cc0000;
}

#header p{
	margin-bottom: 0;
}

#header #header-img{
	width: 820px;
	height: 330px;
	background-image: url("../images/header2.jpg");
	background-size: 820px;
	
}

#header #logo-link
{
	top: 80px;
	left: 10px;
	position: relative;	
}
#header #logo-link #logo
{
	width: 250px;
}

#contact-form{

}

#contact-form .errors p{
	color: #cc0000;
}

#contact-form .success{
	color: #008000;
}

#contact-form h5{
	color: #cc0000;
	font-weight: normal;
	margin-bottom: 15px;
}

#contact-form p{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 93%;
	margin-bottom: 0px;
}

#contact-form #robotest
{
}

#contact-form #honeypot
{
	display: none;
	position: absolute;
	left: -999em;
}

#info{
}

#info img{
	height: 90px;
	width: 120px;
	border: 1px solid black;
	margin-top: 12px;
	margin-bottom: 55px;
}

#info h5{
	margin-bottom: 0;
	color: #cc0000;
	font-weight: normal;
	width: 64%;
}

#info p{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 93%;
	text-align: justify;
	width: 64%;
}

#info #dupont-link{

}

#youtube-link{
	background-color: #87002f;
	color: #FFFFFF;
}

#youtube-link #youtube-link-content{
	padding: 10px 20px 10px 20px;
}

#youtube-link #youtube-link-content h5{
	margin-bottom: 10px;
	line-height: 20px;
	font-weight: normal;
}
#youtube-link #youtube-link-content p{
	text-align: left;
}

#youtube-link #youtube-link-content a{
	font-size: 110%;
	color: #FFFFFF;
	text-decoration: none;
}

#youtube-link #youtube-link-content a:link, a:visited{

}

#youtube-link #youtube-link-content a:hover, a:active{
	text-decoration: underline;
}

#dupont-link{
	text-align: ;
}

#dupont-link a{
	color: #cc0000;
}

#pre-footer{
	margin-top: 100px;
	margin-bottom: 15px;
}

#pre-footer h3{
	color: #cc0000;
	margin-bottom: 10px;
}

#pre-footer #contact-info{
	color: #808080;
}

#pre-footer #contact-info a{
	color: #cc0000;
}

#pre-footer #logo{
	text-align: right;
}

#footer #footer-content{
	border-top: 1px solid black;
	padding-top: 15px;
}

#footer p{
	color: #808080
}

.success{
	color: #008000;
}

.errors{
	color: #cc0000;
}
*/
